singularity.enabled = true
singularity.autoMounts = true

process{
    
    container = 'docker://benjaminataylor/zuzu:amd64'
    executor = 'slurm'
    clusterOptions = '-A standby'
    
    withLabel: small_job {
        cpus = 1
        memory = 50.MB
        time = '5m'
    }
    withLabel: mid_job {
        cpus = 1
        memory = 5.GB
        time = '1h'
    }
}