profiles {
    local {
        process.executor = 'local'
        process.container = 'docker://benjaminataylor/zuzu:latest'
    }
    cluster {
        singularity.enabled = true
        singularity.autoMounts = true
        process.container = 'docker://benjaminataylor/zuzu:amd64'
        process.executor = 'slurm'
        process.clusterOptions = '-A standby'
    }
}

process{
    
    withLabel: small_job {
        cpus = 1
        memory = '500 MB'
        time = '5m'
    }
    withLabel: mid_job {
        cpus = 1
        memory = '5 GB'
        time = '1h'
    }
}